@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/subset-GraphikLCG-Regular.eot');
    src: url('../fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('../fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/subset-GraphikLCG-Semibold.eot');
    src: url('../fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('../fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('../fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: "Graphik LCG",sans-serif;
    box-sizing: border-box;
    min-width: 320px;
}

.link{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color:#000000;

}

.item:last-child{
    margin-right: 0;
}

.list{
    display: flex;
}

.item{
    padding-top: 39px;
    padding-bottom: 36px;
    margin-right: 42px;
}

.menu{
    display: flex;
}

.logo{
    width: 130px;
    height: 28px;
}

.image{
    margin-top: 34px;
    margin-right: 51px;
    height: 28px;
    text-decoration: none;
    padding-left: 10px;
}

.button{
    text-decoration: none;
    display: block;
    line-height: 45px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    border: 1px solid gray;
    width: 118px;
    background-color: white;
    margin-right: 10px;
    height: 43px;
}

.holder{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.try{
    background-color: #FF6336;
    color: #FFFFFF;
    border: none;
    width: 120px;
    line-height: 45px;
    margin-right: 51px;
    height: 45px;
}

.header{
    display: flex;
    max-width: 1460px;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
}

.header-border{
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 129px;
}

.box{
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.article{
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color:#000000;
    width: 552px;
    margin-bottom: 51px;
}

.page{
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color:#000000;
    width: 471px;
    margin-bottom: 50px;
}

.free{
    margin-right: 10px;
    width: 160px;
    height: 60px;
    line-height: 60px;
}

.demo{
    width: 158px;
    height: 58px;
    line-height: 60px;
    margin-bottom: 25px;
}

.second{
    flex-wrap: wrap;
    width: 350px;
}

.feat{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color:#000000;
    width: 369px;
}

.flex{
    display: flex;
    padding-bottom: 172px;
    align-items: center;
}

.container{
    background-color: #FF9C7D;
    margin-bottom: 90px;
    padding-bottom: 104px;
}

.picture-width{
    width: 100%;
}

.tool{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    width: 100%;
    padding-top: 108px;
    padding-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
}

.icon{
    text-decoration: none;
    margin-right: 78px;
    display: block;
    width: 150px;
}

.icon:last-child{
    margin-right: 0;
}

.partners{
    display: flex;
    align-items: center;
}

.virgin{
    text-align: center;
}

.control{
    margin-left: 0;
    margin-right: 0;
    padding-top: 241px;
    padding-bottom: 30px;
}

.add{
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.start{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color:#000000;
    text-decoration: none;
    width: 96px;
    display: block;
}

.card{
    display: flex;
    justify-content: space-between;
}

.two{
    flex-direction: row-reverse;
    margin-top: 250px;
    margin-bottom: 250px;
}

.text{
    margin-right: 70px;
    margin-left: 138px;
    margin-top: 151px;
}

.time{
    padding-top: 0;
}

.cycle{
    width: 450px;
}

.three{
    margin-top: 250px;
    margin-bottom: 250px;
}


.use{
    width: 520px;
}

.wrap{
    margin-left: 0;
    margin-top: 161px;
}

.less{
    width: 348px;
}

.me{
    margin-top: 123px;
    margin-right: 0;
}

.scam{
    height: 577px;
    margin-left: 0;
}

.four{
    margin-bottom: 150px;
}

.underline{
    color: #000000;
}

.what{
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 72px;
    margin-bottom: 0;
}

.quote{
    width: 890px;
    line-height: 60px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 79px;
}

.section{
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    margin-bottom: 75px;
    align-items: center;
    margin-right: 30px;
}


.pic {
    margin-bottom: 26px;
    color: #FFF8E4;
    margin-left: auto;
    margin-right: auto;
}

.web{
    font-size: 25px;
    line-height: 35px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.any{
    font-size: 18px;
    line-height: 25px;
    width: 303px;
    text-align: center;
}

.stock{
    display: flex;
    flex-wrap: wrap;
}

.games{
    width: 91px;
}

.docs{
    width: 142px;
}

.mail{
    width: 229px;
}

.it{
    width: 54px;
}

.boost{
    background-color:#FFFFFF ;
    padding-top: 154px;
    padding-bottom: 232px;
}

.tenfold{
    width: 1287px;
    line-height: 60px;
    font-size: 50px;
    margin-bottom: 75px;
}

.content-boost{
    align-items: flex-start;
}

.man{
    margin-left: 0;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
    text-align: left;
    width: 100%;
}

.pop{
    margin-left: 0;
    margin-bottom: 49px;
}

.up{
    text-align: left;
    width: 390px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

.excerpt{
    text-decoration: underline;
    width: 109px;
    font-weight: 400;
}

.smoke{
    margin-bottom: 84px;
}

.splash{
    margin-bottom: 67px;
}

.trans{
    width: 166px;
}

.icebox{
    background-color: #C9E8F2;
    padding-top: 63px;
    padding-bottom: 105px;
    margin-bottom: 0;
}

.ux{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    width: 895px;
}

.cooper{
    font-size: 15px;
    line-height: 25px;
    padding-top: 23px;
    padding-bottom: 7px;
}

.no{
    padding-bottom: 0;
}

.lol{
    margin-left: 85px;
}

.brown{
    padding-top: 90px;
    padding-bottom: 88px;
    background-color: #DABC98;
    margin-bottom: 169px;
}

.soft{
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    width: 461px;
    margin-left: 67px;
    padding-top: 27px;
}

.border{
    width: 704px;
    padding-right: 105px;
    border-right: 1px solid black;
}

.star{
    width: 128px;
    height: 116px;
    margin-right: 70px;
    margin-left: 71px;
    padding-top: 30px;
}

.rockstar{
    width: 150px;
    height: 116px;
    padding-top: 30px;
}

.int{
    width: 791px;
    font-size: 65px;
    line-height: 75px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.routine{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    width: 539px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
}

.bird{
    margin-left: 133px;
    margin-right: 134px;
    margin-bottom: 32px;
}

.see{
    width: 193px;
    height: 60px;
    line-height: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 162px;
}

.orange{
    padding-top: 119px;
    padding-bottom: 182px;
    margin-bottom: 0;
}

.loco{
    width: 784px;
    margin-bottom: 29px;
}

.page-free{
    font-size: 20px;
    width: 438px;
    margin-bottom: 54px;
}

.for-free{
    background-color: black;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    line-height: 60px;
    height: 60px;
}

.box-special{
    width: 1308px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid black;
    display: flex;
}

.ship{
    background-color: #EEEEEE;
    padding-top: 92px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.skill{
    font-size: 40px;
    margin-left: 0;
    width: 260px;
    padding-top: 0;
    padding-bottom: 28px;
}

.simple{
    margin-bottom: 31px;
}

.global{
    margin-bottom: 11px;
}

.down{
    margin-bottom: 15px;
    width: 294px;
}

.end{
    font-weight: 600;
    text-decoration: none;
    width: 108px;
}

.link-studies{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: black;
}

.item-studies{
    margin-bottom: 15px;
    margin-right: 25px;
    width: 190px;

}

.marked{
    margin-bottom: 21px;
}

.marked-link{
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    width: 190px;
    margin-right: 25px;
}

.marked-link:last-child{
    margin-right: 0;
}

.case{
    width: 375px;
    margin-right: 71px;
}

.nav-studies{
    display: flex;
}

.footer{
    padding-top: 48px;
    padding-bottom: 48px;
}

.awkward{
    border:none;
}

.flow{
    width: 305px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.lise{
    width: 91px;
    height: 21px;
    margin-right: 14px;
}

.copyright{
    width: 110px;
    margin-left: 704px;
}

.shit{
    margin-right: 138px;
}

.tool-width{
    width: 720px;
    text-align: center;
}

.headers{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1289px) {
    .header{
        width:100%;
        flex-direction: column;
        align-items: center;
    }

    .header-border{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .menu{
        width: 100%;
    }

    .image{
        margin-right: auto;
    }

    .holder{
        margin-top: 0px;
    }

    .list{
        width: 100%;
    }

    .box{
        width: 100%;
    }

    .flex{
        flex-direction: column;
        padding-bottom: 50px;
    }

    .picture{
        order:-1;
        margin-bottom: 15px;
        padding: 50px 0;
    }

    .code{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .pict{
        width: 100%;
    }

    .tool-width{
        width: 100%;
        font-size: 32px;
        line-height: 40px;
        margin-right: 0;
        margin-left: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    .partners{
        width: 100%;
        flex-direction: column;
    }

    .box-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        padding-bottom: 50px;
        margin-bottom: 0;
    }
    
    .icon{
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .card{
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .shit{
        margin-right: 0;
        width: 100%;
        text-align: center;
        display:flex;
        align-items: center;
        flex-direction: column;
    }

    .tool{
        padding-top: 0;
        font-size: 32px;
        line-height: 40px;
    }

    .two{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .text{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .start{
        width: 100%;
    }

    .page{
        margin-right: 0;
        text-align: center;
        width: 550px;
    }

    .three{
        margin-top: 0;
        margin-bottom: 0;
    }

    .less{
        width: 100%;
    }

    .scam{
        height: 100%;
    }

    .quote{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .section{
        margin-bottom: 0;
        margin-right: 0;
    }

    .what{
        padding-bottom: 0px;
        padding-top: 30px;
    }

    .container-padding{
        padding-left: 10px;
        padding-right: 10px;
    }

    .flex{
        width: 100%;
    }

    .picture{
        width: 100%;
    }

    .tenfold{
        width: 100%;
    }

    .stock{
        align-items: center;
        text-align: center;
    }

    .pic{
        margin-right: 0;
        text-align: center;
        margin-left: 0;
    }

    .start{
        text-align: center;
    }

    .content-boost{
        margin-bottom: 20px;
    }

    .tenfold{
        margin-bottom: 0;
        text-align: center;
        padding-bottom: 30px;
    }

    .boost{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pop{
        margin-bottom: 15px;
    }

    .man{
        margin-bottom: 0;
        font-size: 25px;
        line-height: 32px;
    }
    
    .ux{
        width: 100%;
        font-size: 20px;
        line-height: 32px;
    }

    .lol{
        width: 100%;
        margin-left: 0;
    }

    .revolut{
        width: auto;
        padding-bottom: 15px;
    }

    .icebox{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .no{
        padding-bottom: 0;
    }

    .brown{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    .border{
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid black;
    }

    .soft{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .star{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .rockstar{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .int{
        width: 100%;
        margin-bottom: 15px;
        padding-top: 15px;
    }

    .routine{
        width: 100%;
        font-size: 25px;
        line-height: 32px;
    }

    .bird{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .see{
        margin-bottom: 0;
    }
}

@media  (max-width: 767px) {
    .menu{
        flex-direction: column;
        align-items: center;
    }

    .list{
        flex-direction: column;
    }

    .item{
        padding-top: 0;
        padding-bottom: 10px;
        margin-right: 0;
    }

    .image{
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .holder{
        flex-direction: column;
        width: 100%;
    }

    .button{
        width: auto;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .button:last-child{
        margin-bottom: 0;
    }

    .article{
        width: 100%;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .page{
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .code{
        width: 100%;
    }

    .feat{
        width: 100%;
    }



    .tool-width{
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 0;
        padding-top: 20px;
    }

    .container{
        padding-bottom: 20px;
    }

    .see{
        width: auto;
    }

    .soft{
        font-size: 25px;
        line-height: 32px;
    }

    .int{
        font-size: 25px;
        line-height: 32px;
    }

    .routine{
        font-size: 18px;
        line-height: 25px;
    }

}